In [1]:
import pandas as pd
import numpy as np
cd = pd.read_csv("C:\\Users\\hardik\\Downloads\\covid_toy.csv")

In [2]:
cd['Kolkata']= cd['has_covid'].where(cd['city']== 'Kolkata', other=0)

In [3]:
cd.sample(10)

    age  gender  fever   cough       city has_covid Kolkata
20   12    Male   98.0  Strong  Bangalore        No       0
1    27    Male  100.0    Mild      Delhi       Yes       0
74   34  Female  104.0  Strong      Delhi        No       0
24   13  Female  100.0  Strong    Kolkata        No      No
17   40  Female   98.0  Strong      Delhi        No       0
10   75  Female    NaN    Mild      Delhi        No       0
80   14  Female   99.0    Mild     Mumbai       Yes       0
39   50  Female  103.0    Mild    Kolkata        No      No
58   23    Male   98.0  Strong     Mumbai       Yes       0
66   51    Male  104.0    Mild    Kolkata        No      No

In [4]:
cd["Delhi "] = cd["has_covid"].where(cd["city"]=='Delhi ')

In [6]:
del cd["Delhi "]

In [10]:
cd.sample()

    age gender  fever cough   city has_covid Kolkata
50   19   Male  101.0  Mild  Delhi       Yes       0

In [11]:
cd["Bangalore"] = cd["has_covid"].where(cd["city"]=='Bangalore',other = 0)

In [13]:
cd.sample(10)

    age  gender  fever   cough       city has_covid Kolkata Bangalore
40   49  Female  102.0    Mild      Delhi        No       0         0
93   27    Male  100.0    Mild    Kolkata       Yes     Yes         0
55   81  Female  101.0    Mild     Mumbai       Yes       0         0
2    42    Male  101.0    Mild      Delhi        No       0         0
43   22  Female   99.0    Mild  Bangalore       Yes       0       Yes
84   69  Female   98.0  Strong     Mumbai        No       0         0
86   25    Male  104.0    Mild  Bangalore       Yes       0       Yes
5    84  Female    NaN    Mild  Bangalore       Yes       0       Yes
89   46    Male  103.0  Strong  Bangalore        No       0        No
78   11    Male  100.0    Mild  Bangalore       Yes       0       Yes

In [16]:
cd["Bangalore"].value_counts()

Bangalore
0      70
No     17
Yes    13
Name: count, dtype: int64

In [27]:
cd["MUMBAI"] = cd["has_covid"].where(cd["city"]=="Mumbai",other =0)

In [20]:
cd["MUMBAI"].value_counts()

MUMBAI
No     8
Yes    8
Name: count, dtype: int64

In [29]:
cd.sample(5)

,age,gender,fever,cough,city,has_covid,Kolkata,Bangalore,MUMBAI,Delhi
27,33,Female,102.0,Strong,Delhi,No,0,0,0,No
34,74,Male,102.0,Mild,Mumbai,Yes,0,0,Yes,NaN
89,46,Male,103.0,Strong,Bangalore,No,0,No,0,NaN
61,81,Female,98.0,Strong,Mumbai,No,0,0,No,NaN
79,48,Female,103.0,Mild,Kolkata,Yes,Yes,0,0,NaN

In [31]:
cd["Delhi"] = cd["has_covid"].where(cd["city"]=="Delhi",other=0)

In [58]:
#delhi_yes_percent = (cd["has_covid"].eq("Yes") & cd["city"].eq("Delhi")).mean() * 100

9.0

In [102]:
delhi_Yes_percent = (cd["Delhi"].eq("Yes")).mean() * 100
delhi_No_percent = (cd["Delhi"].eq("No")).mean()*100
print("Total percent of postive covid  in Delhi   ",delhi_Yes_percent)
print("Total percent of Negative covid  in Delhi  ",delhi_No_percent)

Total percent of postive covid  in Delhi    9.0
Total percent of Negative covid  in Delhi   13.0

In [86]:
MUMBAI_Yes_percent = (cd["MUMBAI"].eq("Yes")).mean() * 100
MUMBAI_No_percent = (cd["MUMBAI"].eq("No")).mean() * 100
print("Total percent of postive covid  in MUMBAI ==>  ",MUMBAI_Yes_percent)
print("Total percent of Negative covid  in MUMBAI ==>  ",MUMBAI_No_percent)

Total percent of postive covid  in MUMBAI ==>   8.0
Total percent of Negative covid  in MUMBAI ==>   8.0

In [85]:
Bangalore_Yes_percent = (cd["Bangalore"].eq("Yes")).mean() * 100
Bangalore_No_percent = (cd["Bangalore"].eq("No")).mean() * 100
print("Total percent of postive covid  in Bangalore ==>  ",Bangalore_Yes_percent)
print("Total percent of Negative covid  in Bangalore ==> ",Bangalore_No_percent)

Total percent of postive covid  in Bangalore ==>   13.0
Total percent of Negative covid  in Bangalore ==>  17.0

In [84]:
Kolkata_Yes_percent = (cd["Kolkata"].eq("Yes")).mean() * 100
Kolkata_No_percent = (cd["Kolkata"].eq("No")).mean() * 100
print("Total percent of postive covid  in Kolkata ==>  ",Kolkata_Yes_percent)
print("Total percent of Negative covid  in Kolkata ==>  ",Kolkata_No_percent)

Total percent of postive covid  in Kolkata ==>   15.0
Total percent of Negative covid  in Kolkata==>   17.0

In [92]:
print("Positve cases  of Mild cough ==> " ,(cd["has_covid"].eq("Yes") &cd["cough"].eq("Mild")).mean()*100)
print("Negative cases  of Mild cough ==> " ,(cd["has_covid"].eq("No") &cd["cough"].eq("Mild")).mean()*100)

Positve cases  of Mild cough ==>  30.0
Negative cases  of Mild cough ==>  32.0

In [95]:
print("Positve cases  of  Strong cough ==> " ,(cd["has_covid"].eq("Yes") &cd["cough"].eq(" Strong")).mean()*100)
print("Negative cases  of  Strong cough ==> " ,(cd["has_covid"].eq("No") &cd["cough"].eq(" Strong")).mean()*100)

Positve cases  of  Strong cough ==>  0.0
Negative cases  of  Strong cough ==>  0.0

In [110]:
print("Positve cases  of  Female ==> " ,(cd["has_covid"].eq("Yes") &cd["gender"].eq("Female")).mean()*100)
print("Negative cases  of  Female ==> " ,(cd["has_covid"].eq("No") &cd["gender"].eq("Female")).mean()*100)

Positve cases  of  Female ==>  25.0
Negative cases  of  Female ==>  34.0

In [113]:
print("Positve cases  of Male ==> " ,(cd["has_covid"].eq("Yes") &cd["gender"].eq("Male")).mean()*100)
print("Negative cases  of  Male ==> " ,(cd["has_covid"].eq("No") &cd["gender"].eq("Male")).mean()*100)

Positve cases  of Male ==>  20.0
Negative cases  of  Male ==>  21.0