In [2]:
import pandas as pd
import numpy as np

In [139]:
Data = {
    "Date": [["4/18/2023"], ["4/28/2023"], ["4/19/2023"], ["4/10/2023"], ["4/20/2023"], ["4/19/2023"], ["4/17/2023"], ["4/19/2023"]],
    "Region": ["East", "Central", "Central", "West", "East", "East", "Central", "East"],
    "Rep": ["Sohan", "Sohan", "Priya", "Preeti", "Sohan", "Kreeti", "Sohan", "Kreeti"],
    "Item":["Pencil","Binder","Pencil","Pen","Pencil","Pen","Binder","Pen"],
    "units": [98, 50, 36, 27, 56, 32, 60, 32],
    "unit cover":[1.99,19.99,4.99,19.99,2.99,1.99,4.99,1.99],
    "Revenue": [189.05, 999.5, 179.64, 539.73, 167.44, 63.68, 299.4, 63.68]
}

df = pd.DataFrame(Data)
print(df)

          Date   Region     Rep    Item  units  unit cover  Revenue
0  [4/18/2023]     East   Sohan  Pencil     98        1.99   189.05
1  [4/28/2023]  Central   Sohan  Binder     50       19.99   999.50
2  [4/19/2023]  Central   Priya  Pencil     36        4.99   179.64
3  [4/10/2023]     West  Preeti     Pen     27       19.99   539.73
4  [4/20/2023]     East   Sohan  Pencil     56        2.99   167.44
5  [4/19/2023]     East  Kreeti     Pen     32        1.99    63.68
6  [4/17/2023]  Central   Sohan  Binder     60        4.99   299.40
7  [4/19/2023]     East  Kreeti     Pen     32        1.99    63.68

In [136]:
df.to_csv('shoan.csv',index=False)

In [137]:
print("Total unints sold in  East Region :",(df["units"].where(df["Region"].eq("East"))).sum())

Total unints sold in  East Region : 218.0

In [127]:
print("Total Revenue generated:",(df["Revenue"].sum()))

Total Revenue generated: 2502.12

In [128]:
print("Total Revenue generated from Binder:",(df["Revenue"].where(df["Item"].eq("Binder"))).sum())
print("Total Revenue generated from Pen:",(df["Revenue"].where(df["Item"].eq("Pen"))).sum())
print("Total Revenue generated from Pencil:",(df["Revenue"].where(df["Item"].eq("Pencil"))).sum())

Total Revenue generated from Binder: 1298.9
Total Revenue generated from Pen: 667.09
Total Revenue generated from Pencil: 536.13

In [129]:
print("Total Revenue generated in Central Region from pencil:",(df["Revenue"].where(df["Region"].eq("Central")&df["Item"].eq("Pencil"))).sum())
print("Total Revenue generated in East from pencil:",(df["Revenue"].where(df["Region"].eq("East")&df["Item"].eq("Pencil"))).sum())
print("Total Revenue generated in  West from pencil:",(df["Revenue"].where(df["Region"].eq(" West")&df["Item"].eq("Pencil"))).sum())

Total Revenue generated in Central Region from pencil: 179.64
Total Revenue generated in East from pencil: 356.49
Total Revenue generated in  West from pencil: 0.0

In [130]:
print("Total unints sold by sales representative sohan :",(df["units"].where(df["Rep"].eq("Sohan"))).sum())

Total unints sold by sales representative sohan : 264.0

In [131]:
print("Total unints sold by sales representative sohan \n where cost of each item is greater then 4 :",(df["units"].where(df["Rep"].eq("Sohan")&(df["unit cover"]>4.00))).sum())

Total unints sold by sales representative sohan
 where cost of each item is greater then 4 : 110.0

In [132]:
#np.subtract(((df["units"].where(df["Rep"].eq("Sohan"))).sum()),(df["units"].where(df["Rep"].eq("Sohan")&(df["Item"].eq("Pencil")))).sum())
print("Total sale by Sohan except pencil:  ",(df["units"].where(df["Rep"].eq("Sohan")&(df["Item"]!="Pencil"))).sum())

Total sale by Sohan except pencil:   110.0

In [133]:
print((df["Rep"].eq("Sohan")).value_counts())
print("\nTotal counts of sohan sales :",(df["Rep"].eq("Sohan")).sum())

Rep
True     4
False    4
Name: count, dtype: int64

Total counts of sohan sales : 4

In [134]:
###same question for Preeti

print("Total unints sold by sales representative Preeti:",(df["units"].where(df["Rep"].eq("Preeti"))).sum())
print("\nTotal unints sold by sales representative Preeti \n where cost of each item is greater then 4  :",(df["units"].where(df["Rep"].eq("Preeti")&(df["unit cover"]>4.00))).sum(),)
print("\nTotal sale by Preeti except pencil:  ",(df["units"].where(df["Rep"].eq("Preeti")&(df["Item"]!="Pencil"))).sum())
print("\nTotal counts of Preeti sales :",(df["Rep"].eq("Preeti")).sum())

Total unints sold by sales representative Preeti: 27.0

Total unints sold by sales representative Preeti
 where cost of each item is greater then 4  : 27.0

Total sale by Preeti except pencil:   27.0

Total counts of Preeti sales : 1

In [135]:
###same question for Kreeti 

print("Total unints sold by sales representative Kreeti :",(df["units"].where(df["Rep"].eq("Kreeti"))).sum())
print("\nTotal unints sold by sales representative Kreeti  \n where cost of each item is greater then 4  :",(df["units"].where(df["Rep"].eq("Kreeti")&(df["unit cover"]>4.00))).sum(),)
print("\nTotal sale by Kreeti  except pencil:  ",(df["units"].where(df["Rep"].eq("Kreeti")&(df["Item"]!="Pencil"))).sum())
print("\nTotal counts of Kreeti  sales :",(df["Rep"].eq("Kreeti")).sum())

Total unints sold by sales representative Kreeti : 64.0

Total unints sold by sales representative Kreeti
 where cost of each item is greater then 4  : 0.0

Total sale by Kreeti  except pencil:   64.0

Total counts of Kreeti  sales : 2